extends layout

block content
    br
    br
    br
    .container
        .row
            .col-lg-4
                .card
                    .card-body
                        h5.card-title Bezetting lokalen
                        p.card-text Bekijk hier de bezetting van de lokalen
                        br
                        a.card-link(href="/calendar") Bekijk
            .col-lg-4
                .card
                    .card-body
                        h5.card-title Aanvragen opleiding
                        p.card-text Bekijk hier de aanvragen van de opleidingen
                        a.card-link(href="/training") Bekijk
            .col-lg-4
                .card
                    .card-body
                        h5.card-title Kandidaten
                        p.card-text Bekijk hier alle info over de kandidaten
                        br
                        a.card-link(href="/kandidaten") Bekijk
        br
        .row
            .col-lg-4
                .card
                    .card-body
                        h5.card-title Managen
                        p.card-text Bekijk hier enkele links om de lijsten items aan de dropdowns toe te voegen
                        br
                        a.card-link(href="/detailCards") Bekijk


    br
    .container
        .py-5.text-center
            img#logo(src="/images/logo.png")
            