extends ../layout

block extracss
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.css')

block content
  .container
    .py-5.text-center
      h2 Inschrijvingen
  .row
    .col-lg.mt-2
      br
      .text-right
        button.btn.btn-outline-primary(onclick="openpopup()") Trainer toevoegen
      br
  table.table
    thead
      tr
        th(scope="col") Naam
        th(scope="col") Kleur
        th(scope="col") Details
        th(scope="col") Remove
    tbody#table
      each item in trainers
        tr
          td #{item.naam}
          td(style="color:" + item.kleur) #{item.kleur} ▉
          td 
            button.btn.btn-outline-primary(id = item._id+"+details"  onclick="details(this)") Details
          td 
            button.btn.btn-outline-danger(id = item._id + "+remove" onclick="remove(this)") Verwijder

  .modal.fade#model(tabindex='-1' role="dialog")
    .modal-dialog(role="document")
        .modal-content
          form(method="post" action="/trainers/add")
            .modal-header
                h5.modal-title Trainer toevoegen
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
              .form-group
                label.control-label(for="naam") Trainer:
                input.form-control#TrainingNaam(name="naam" placeholder="Matthijs" type="text")
                br
                label(for='kleur')
                  |Kleur:
                input#color.form-control(name='kleur' type='text'  value='' autocomplete="off")
            .modal-footer
              button.btn.btn-outline-secondary(type="button" data-dismiss="modal") Close
              input.btn.btn-outline-primary(type="submit" value="Submit") 

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.js")

  script.
    function remove(button){
      var link = "/trainers/remove?id=" + button.id.split("+")[0];
      window.location.href = link;
    }
    function details(button){
      var link = "/trainers/details?id=" + button.id.split("+")[0];
      window.location.href = link;
    }
    function openpopup(){
      $("#model").modal('show');
    }
  script.
    $(document).ready(function(){
      $("#trainerName").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  script.
    $(function () {
      $('#color').colorpicker();
    });
